{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-typescript/base"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "indent": "off",
        "@typescript-eslint/indent": [2, 4],
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": ["error", "never"]
    }
}
